.hi1 {
  position: relative;
  top: 3.71vw;
  left: 24.5vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
  text-align: center;
  padding: 5px;

}
.hi1:hover {
  background-color: #F26522;
  color: white;
}

.hi6 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 7vw;
  left: 1vw;
  align-self: center;
}
.hi7 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 9vw;
  left: 1vw
}

.hi8 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 12vw;
  left: 1vw
}

.hi9 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 16vw;
  left: 1vw
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}